* {
  box-sizing: border-box;
}

.App {
  margin: 20px auto;
  text-align: center;
  width: 800px;
}

header,
main,
footer {
  margin: 20px auto;
  min-width: 800px;
  max-width: 800px;
}

header {
  min-height: 200px;
  max-height: 200px;
}

main {
  min-height: 500px;
  max-height: 500px;
}

footer {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  min-height: 350px;
  max-height: 350px;
  width: 800px;
}


section {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  
}

.form-section {
  margin: 20px auto;
}

.details-section {
  margin: 20px auto;
}
section h2 {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 800px;
  height: 50px;
  color: white;
  background-color: blueviolet;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.bundle-double-left h2, .bundle-double-right h2 {
  width: 375px;
}
.current-package .section-total {
  position: absolute;
  width: fit-content;
  margin: 20px auto;
  left: calc(50% + 260px);
  top: 170px;
}
section .bundle-content {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

section .bundle-content .form,
section .bundle-content .details {
  display: flex;
  justify-content: space-around;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

 .form, .details {
 min-height: 450px;
 max-height: 450px;
 height: 450px;
}

#current-package-content .form, #current-package-content .details {
  padding: 10px auto;
  min-height: 150px;
 max-height: 150px;
 height: 150px;
}

h3 {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.bundle1-single .form, .bundle1-single .details {
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
}

.new-packages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.bundle-double-right .form, .bundle-double-right .details, .bundle-double-left .form, .bundle-double-left .details {
  flex-direction: column;
  width: 375px;
}



.price-compare-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.additional-info-form, .additional-info-details {
width: 100%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-content: space-around;
height: 100px;
}

.rep-info-form, .rep-info-details {
display: flex;
width: 100%;
justify-content: space-around;
}
.qrs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


button {
  position: absolute;
}

.current-package button {
  left: calc(50% - 440px);
  top: 40px;
}

.bundle-double-left button , .bundle1-single button {
left: calc(50% - 440px);
top: 260px;
}

.bundle-double-right button {
  right: calc(50% - 440px);
  top: 260px;
  }

.package-2-button {
  top: 700px;
  right: calc(50% - 440px);
}

.additional-info button {
  top: 775px;
  left: calc(50% - 440px);
}

.additional-info {
margin: 10px auto;
width: 100%;
}

.rep-info-details {
  height: fit-content
}
.additional-info h3 {
  margin: 5px;
}

.additional-info span {
  font-weight: 400;
  font-size: 20px;
}

.additional-notes-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  text-align: left;
  text-indent: 20px;
}

.additional-notes-details p, .additional-notes-details h3 {
  text-wrap: wrap;
display: inline-block;
}

.additional-notes-details h3 {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  height: 50px
}
.additional-notes-details p {
  top: 50%;
  margin: 0 auto;
  height: 50px;
  width: 70%;
}

#print-button {
  top: 900px;
  right: calc(50% - 470px);
}
.qrs {
  margin: 10px auto;
  
}
.qr p {
  text-indent: 0%;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  text-wrap: wrap;
}

