/*base layer styles*/

* {
  box-sizing: border-box;
  margin: 0 auto;
}

#disclaimer {

  color: black;
  justify-self: flex-end;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
  max-width: 800px;
  min-width: 800px;
  height: 1000px;
  justify-content: space-around;
}

header,
main,
footer {
  margin: 15px auto;
  min-width: 800px;
  max-width: 800px;
}

article,
form {
  display: flex;
  padding: 10px auto;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  min-height: calc(100% - 50px);
  max-height: calc(100% - 50px);
}

h2 {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 800px;
  height: 50px;
  color: white;
  background-color: blueviolet;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

textarea {
  resize: none;
  width: 100%;
}

span {
  color: blueviolet
}

/* HEADER */

header {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
}

header section {
  padding: 20px;
}

header .notes {
  max-width: calc(800px / 4);
  line-height: 16px;
}


/* MAIN */

main {
  height: 500px;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section {
  height: calc(100% - 100px)
}

main form,
main article {

  flex-direction: column;
  justify-content: space-around;
}

main article {
  padding: 30px 10px;
}


/* TWO PACKAGE SPECIFIC STYLES */
.bundle-double,
.bundle-double h2 {
  width: 375px;
}

.price-compare-double,
.price-compare-single {
  width: 100%;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  min-height: 200px;
  max-height: 200px;
  height: 300px;
  width: 800px;
}

footer section {
  margin: 0;
  padding: 5px;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

footer form,
footer article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
}

.additional-info {
  display: flex;
  flex-direction: column;
}

.rep-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.additional-notes {
  margin-top: 5px;
  height: 75px;
  border: 2px solid black;
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

.additional-notes h3 {
  color: blueviolet;
  font-size: 12px;
  font-weight: bolder;
}

.additional-notes textarea {
  border: none;
}

.qrs {
  margin: auto;

}

.qr p {
  font-size: 12px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  text-wrap: wrap;
}


/* TOTALS */

.current-package-total {
  position: absolute;
  width: fit-content;
  margin: 20px auto;
  left: calc(50% + 270px);
  top: 190px;
}

.bundle1-single .bundle1-total {
  position: absolute;
  width: fit-content;
  margin: 20px auto;
  left: calc(50% + 270px);
  top: 620px;
}

.bundle-double .bundle1-total {
  position: absolute;
  width: fit-content;
  margin: 20px auto;
  left: calc(50% - 145px);
  top: 620px;
}


.bundle2-total {
  position: absolute;
  width: fit-content;
  margin: 20px auto;
  left: calc(50% + 255px);
  top: 620px;
}



/* EDIT BUTTONS */
button {
  position: absolute;
}

.current-package-button {
  left: calc(50% - 430px);
  top: 55px;
}

.bundle1-button {
  left: calc(50% - 430px);
  top: 295px;
}

.bundle2-button {
  right: calc(50% - 430px);
  top: 295px;
}

.package-2-button {
  top: 660px;
  right: calc(50% - 430px);
}



.additional-info button {
  top: 925px;
  left: calc(50% - 440px);
}

#print-button {
  top: 900px;
  right: calc(50% - 470px);
}

#mobile {
  border: 2px solid black;
  width: 800px;
  height: 1000px;
}


#mobile button {
  position: relative;
}

#mobile .add-line-button {

  top: 30px;
  float: right;
  height: 30px;
  width: 30px;
  position: relative;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.edit-button {
  grid-row: 1 / span 1;
  grid-column: 8 / span 1;
}