@media print {
    * {
        box-sizing: border-box
    }
    button {
        display: none;
    }
    body {
        box-sizing: border-box;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
      section h2 {
        box-sizing: border-box;
      }
}