.App {
  margin: 0 auto;
  text-align: center;
}

.current-package {
margin: 0 auto;
border: 3px solid black;
width: 80%;

display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

.current-package .form {
  margin: 10 auto;
  border: 3px solid blue;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.current-package .form .form-section {
  border: 3px solid green;
  width: 30%;
  
}
.bundle-1 {
  margin: 0 auto;
  width: 40%;
  border: 3px solid black;
}
